echo registry=https://registry.npmjs.org/ > .npmrc
echo legacy-peer-deps=true >> .npmrc
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
resolution-mode=highest